.case-card {
  .image-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;

    .title-link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 50px;

      a {
        text-decoration: none;

        h1 {
          font-size: 26px;
          margin: 0;
          color: $content;
        }

        .arrow-circle {
          height: 40px;
          width: 40px;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $light-grey;

          svg {
            path {
              stroke: $light-grey;
            }
          }
        }
      }
    }

    p {
      font-size: 14px;
      margin: 0;
      color: $light-grey;
      font-family: $light-accent-font;
    }
  }

  @media screen and (max-width: 900px) {
    .image-container {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: auto;
      }
    }
  }

  @media screen and (max-width: 445px) {
    margin-bottom: 100px;

    .description {
      gap: 20px;

      .title-link {
        a {
          height: 25px;
          width: auto;
        }
      }
    }
  }
}
