.case-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .description {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-grey;

    p {
      font-family: $accent-font;
      font-size: 14px;
      color: $light-grey;
    }

    .count {
      font-family: $light-accent-font;
      color: $light-grey;
    }
  }

  .image-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;

      h1 {
        color: $content;
        margin: 0;
      }
    }

    .view-btn {
      border: 1px solid $content;

      width: min-content;
      padding: 10px 25px;
      border-radius: 50px;

      p {
        margin: 0;
        font-size: 10px;
        color: $content;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .image-container {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: auto;
      }
    }
  }

  @media screen and (max-width: 445px) {
    margin-bottom: 100px;

    .description {
      gap: 20px;

      .title-link {
        a {
          height: 25px;
          width: auto;
        }
      }
    }
  }
}
