.page-container {
  position: relative;
  margin: 0px 35px 0 120px;
  padding-top: 20px;
  padding-bottom: 140px;
  border-right: 1px solid $dark-grey;
  border-left: 1px solid $dark-grey;
  max-width: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;

    .heading {
      display: flex;
      gap: 10px;

      h1 {
        font-size: 90px;
        margin: 0;
        line-height: 0.8;
      }

      .icons {
        display: flex;
        gap: 4px;
      }
    }

    .link-container {
      background-color: transparent;
      width: 190px;
      border: 1px solid #ffffff;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;

      a {
        text-decoration: none;

        div {
          display: flex;
          align-items: center;
          gap: 5px;
          color: $content;
          font-weight: 300;
          font-size: 14px;

          svg {
            width: auto;
            height: 26px;

            margin-right: -8px;

            path {
              stroke: $content;
              stroke-width: 1.5;
            }
          }
        }
      }
    }
  }

  .high-fi-designs {
    border-top: 1px solid $dark-grey;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 34px;
        font-weight: 300;
      }

      .link-container {
        background-color: transparent;
        width: 110px;
        border: 1px solid #ffffff;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;

        a {
          text-decoration: none;

          div {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $content;
            font-weight: 300;
            font-size: 14px;

            svg {
              width: auto;
              height: 26px;

              margin-right: -8px;

              path {
                stroke: $content;
                stroke-width: 1.5;
              }
            }
          }
        }
      }
    }

    .image-carousel {
      display: flex;
      flex-direction: column;
      gap: 60px;

      .arrows {
        display: flex;
        justify-content: space-between;
      }

      .images {
        margin: 0 -35px 0 -120px;
        display: flex;
        gap: 100px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;

        img {
          height: 60vh;
        }
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 60px;
    align-items: start;
    margin-top: 140px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $dark-grey;
      padding-top: 10px;

      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
      }

      h1 {
        font-size: 34px;
        font-weight: 300;
        margin: 0;
      }

      p {
        margin: 0;
        font-family: $accent-font;
        color: $light-grey;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 60px;

      p {
        font-size: 16px;
        font-family: $light-accent-font;
        color: #c5c5c5;
        margin: 0;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .list-header {
          border-bottom: 1px solid $dark-grey;
          padding-bottom: 20px;

          p {
            font-family: $accent-font;
            font-weight: 600;
            color: #ffffff;
          }
        }

        .list-items {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      .deliverables {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .list-row {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $dark-grey;
          padding-bottom: 10px;
        }
      }

      .design-process {
        display: flex;
        flex-direction: column;

        .section-header {
          display: flex;
          align-items: center;
          gap: 20px;

          p {
            font-family: $main-font;
            font-size: 14px;
          }
        }

        .section-filler {
          padding-left: 34px;
          margin-left: 12px;
          border-left: 1px dashed $light-grey;
          padding-top: 20px;
          padding-bottom: 20px;

          .strategize {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }

          p {
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 10px;
          }

          .divider {
            font-family: $main-font;
            font-size: 14px;
            color: $light-grey;
            margin-bottom: 10px;
          }

          &.last {
            border-left: none;
          }
        }
      }

      .research-plan {
        .list-header {
          border-bottom: 1px solid $dark-grey;
          padding-bottom: 20px;
          font-family: $accent-font;
          font-weight: 600;
          color: #ffffff;
          margin: 0;
        }

        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .list-row {
            display: flex;
            justify-content: space-between;

            li {
              font-size: 16px;
              font-family: $light-accent-font;
              color: #c5c5c5;
              margin: 0;
            }
          }
        }
      }

      .interview-questions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .question {
          border-bottom: 1px solid $dark-grey;
          padding: 20px 0;
        }
      }

      .interview-results {
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
          display: flex;
          flex-direction: column;
          gap: 20px;
          border-bottom: 1px solid $dark-grey;
          padding-bottom: 10px;

          .accent {
            font-family: $accent-font;
            color: #ffffff;
          }
        }
      }

      .market-research {
        .list-header {
          border-bottom: 1px solid $dark-grey;
          padding-bottom: 20px;
          font-family: $accent-font;
          font-weight: 600;
          color: #ffffff;
          margin: 0;
        }

        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .list-row {
            display: flex;
            justify-content: space-between;

            li {
              font-size: 16px;
              font-family: $light-accent-font;
              color: #c5c5c5;
              margin: 0;
            }
          }
        }
      }

      .competitive-analysis {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .column {
          border-bottom: 1px solid $dark-grey;
          padding-bottom: 40px;

          .sub-header {
            font-family: $main-font;
            font-size: 14px;
            text-transform: uppercase;
            color: #ffffff;
            padding-bottom: 20px;
          }

          .tables {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
          }

          .list-header {
            font-family: $main-font;
            font-size: 14px;
            text-transform: uppercase;
            color: $light-grey;
          }

          ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
              font-family: $light-accent-font;
            }
          }
        }
      }

      .persona {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .image-container {
          width: 100%;

          img {
            max-width: 100%;
            height: 40%;
          }
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          .list-row {
            height: 40px;

            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 50px;
              text-transform: uppercase;
              border-bottom: 1px solid $dark-grey;

              .list-title {
                font-family: $main-font;
                font-size: 16px;
                min-width: 100px;
              }

              .item-value {
                min-width: 150px;
              }
            }
          }
        }

        .text-block {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .sub-header {
            font-family: $accent-font;
            color: #ffffff;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-grey;
          }

          p {
            font-size: 16px;
            font-family: $light-accent-font;
            color: #c5c5c5;
            margin: 0;
          }
        }

        .persona-table {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .sub-header {
            font-family: $accent-font;
            color: #ffffff;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-grey;
          }

          ul {
            li {
              border-bottom: none;
              font-size: 16px;
              font-family: $light-accent-font;
              color: #c5c5c5;
              margin: 0;
              text-transform: none;
            }
          }
        }
      }

      .product-goals {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .intro-paragraphs {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .product-table {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .sub-header {
            font-family: $accent-font;
            color: #ffffff;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-grey;
          }

          ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
              border-bottom: none;
              font-size: 16px;
              font-family: $light-accent-font;
              color: #c5c5c5;
              margin: 0;
              text-transform: none;
            }
          }
        }
      }

      .roadmap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .roadmap-table {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .sub-header {
            font-family: $accent-font;
            color: #ffffff;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-grey;
          }

          ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
              border-bottom: none;
              font-size: 16px;
              font-family: $light-accent-font;
              color: #c5c5c5;
              margin: 0;
              text-transform: none;
            }
          }
        }
      }

      .sitemap {
        width: 100%;

        img {
          max-width: 100%;
        }
      }

      .flows {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .flow {
          display: flex;
          flex-direction: column;
          gap: 20px;

          p {
            font-family: $accent-font;
            color: #ffffff;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-grey;
          }
        }

        .image-container {
          width: 100%;

          img {
            max-width: 100%;
          }
        }
      }

      .wireframes {
        .image-grid {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: 30px;

          img {
            width: 30%;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1160px) {
  }

  @media screen and (max-width: 445px) {
    position: relative;
    margin: 0px 10px 0 60px;
    padding-top: 0px;
    border-right: 1px solid $dark-grey;
    border-left: 1px solid $dark-grey;
    max-width: 100%;

    .title {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
      gap: 40px;

      .heading {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 44px;
        }
      }
    }

    .high-fi-designs {
      .header {
        flex-direction: column;
        align-items: flex-start;
      }

      .image-carousel {
        .images {
          margin: 0 -10px 0 -60px;
          gap: 20px;

          img {
            height: 40vh;
          }
        }
      }
    }

    .row {
      display: flex;
      flex-direction: column;

      .header {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 100%;

        .details {
          width: 100%;
        }
      }

      .content {
        width: 100%;
        padding: 0;

        .deliverables {
          width: 100%;
        }

        .research-plan {
          ul {
            .list-row {
              align-items: center;
            }
          }
        }

        .competitive-analysis {
          .column {
            .tables {
              display: flex;
              flex-direction: column;
            }
          }
        }

        .persona {
          ul {
            .list-row {
              height: 60px;

              li {
                .list-title {
                  min-width: 10px;
                }

                .item-value {
                  min-width: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
