.dropdown-menu {
  background-color: $dark-grey;
  position: absolute;
  top: 78%;
  display: grid;
  grid-template-rows: auto;
  border-radius: 5px;
  overflow: hidden;

  &.clicked {
    display: none;
  }

  .link {
    background-color: $shadow-grey;
    display: flex;
    align-items: center;

    a {
      padding: 10px 20px;
      width: 100%;
      text-decoration: none;
      color: $body-content;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #292929;
      }
    }
  }
}
