.dropdown-menu {
  position: absolute;
  top: 78%;
  display: grid;
  grid-template-rows: auto;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);

  &.clicked {
    display: none;
  }

  .dropdown-item {
    display: flex;
    align-items: center;

    .dropdown-link {
      width: 100%;
      padding: 10px 20px;
      text-decoration: none;
      color: #000000;
      // color: $header-white;
      transition: 0.4s ease-in-out all;
      border-radius: 10px;

      &:hover {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.6);
        color: $header-white;
      }
    }
  }
}
