.paragraph {
  display: flex;
  font-size: 30px;
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #d9d9d9;
  flex-wrap: wrap;
  margin: 0;

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}
