.contact-container {
  position: relative;
  margin: 0px 35px 0 120px;
  padding-top: 140px;
  padding-bottom: 140px;
  border-right: 1px solid $dark-grey;
  border-left: 1px solid $dark-grey;
  max-width: 100%;

  .contact-content {
    display: grid;
    grid-template-columns: 46% 46%;
    column-gap: 8%;

    .header {
      font-size: 40px;
      margin: 0;

      h1 {
        margin: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 60px;

      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .input {
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 60px;

          label {
            text-transform: uppercase;
            font-family: $light-accent-font;
          }

          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $light-grey;
            padding: 10px 0;
            font-family: $light-accent-font;
            font-size: 16px;
            color: #ffffff;
            outline: none;
            border-radius: 0;
          }
        }
      }

      .input {
        width: 100%;
        display: flex;
        flex-direction: column;

        .err-msg {
          font-family: $accent-font;
          color: $content;
          font-size: 14px;
          text-transform: uppercase;
          color: #d92f25;
          margin: 0;
          padding-top: 10px;
        }

        label {
          text-transform: uppercase;
          font-family: $light-accent-font;
        }

        textarea {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $light-grey;
          padding: 10px 0;
          color: #ffffff;
          outline: none;
          resize: none;
          border-radius: 0;
        }

        .message-len {
          align-self: flex-end;
          font-size: 14px;
          font-family: $accent-font;
        }
      }

      .btn-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        button {
          border: 0;
          background-color: transparent;
          color: #ffffff;
          font-size: 10px;
          font-weight: 300;
          border: 1px solid #ffffff;
          border-radius: 50px;
          padding: 8px 20px;

          &:disabled {
            color: $light-grey;
            border: 1px solid $light-grey;
            background-color: $dark-grey;
          }
        }
      }
    }
  }

  .contact-links {
    margin-top: 90px;

    .columns {
      display: grid;
      grid-template-columns: 46% 46%;
      column-gap: 8%;

      .left {
        a {
          text-decoration: none;
          color: $content;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $dark-grey;

            p {
              color: $content;
              font-size: 14px;
              font-family: $light-accent-font;
              min-width: 100px;
            }

            .handle {
              min-width: 150px;
            }
          }
        }
      }

      .right {
        a {
          text-decoration: none;
          color: $content;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $dark-grey;

            p {
              color: $content;
              font-size: 14px;
              font-family: $light-accent-font;
              min-width: 100px;
            }

            .handle {
              min-width: 150px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 445px) {
    margin: 0px 10px 0 60px;
    padding-top: 100px;

    .contact-content {
      grid-template-columns: none;
      grid-template-rows: auto;
      gap: 90px;

      .header {
        font-size: 28px;
      }

      form {
        .row {
          grid-template-columns: none;
          grid-template-rows: auto;
          gap: 60px;
        }
      }
    }

    .contact-links {
      .columns {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
