.contact-content {
  @include layout(0, 0 120px 100px 120px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15%;

  .left-column {
    display: flex;
    flex-direction: column;

    .title {
      h1 {
        font-family: $heading-font;
        font-weight: $heaviest;
        font-size: 60px;
        color: $white;
      }
    }

    .sub-text {
      font-family: $heading-font;
      font-size: 22px;
      color: $body-content;
      margin-bottom: 50px;
    }

    .contact-methods {
      display: grid;
      grid-template-rows: auto;
      row-gap: 20px;

      .contact-method {
        display: flex;
        align-items: center;
        gap: 20px;

        .circle {
          height: 43px;
          width: 43px;
          border-radius: 50%;
          background-color: $theme;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .method-txt {
          background-color: $theme;
          border-radius: 10px;
          padding: 12px 17px;
          height: 20px;

          a {
            text-decoration: none;
            color: $light-black;
            font-size: 18px;
            margin: 0;
          }
        }
      }
    }
  }

  .right-column {
    .dark-title {
      display: flex;
      justify-content: center;

      h1 {
        font-family: $heading-font;
        font-weight: $heaviest;
        font-size: 60px;
        color: $dark-grey;
      }
    }

    form {
      @include rows(80px auto, 36px);

      .top-inputs {
        @include columns(1fr 1fr, 36px);
      }

      .input {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .message-len {
          font-size: $content;
          color: $theme;
          align-self: flex-end;
        }

        .err-msg {
          color: $red;
          font-size: 10px;
        }

        label {
          font-size: 18px;
          font-family: $heading-font;
          color: $body-content;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
          -webkit-text-fill-color: $header-grey;
          -webkit-box-shadow: none;
        }

        input {
          background-color: $almost-black;
          border: 0;
          padding: 16px 20px;
          border-radius: 10px;
          color: $body-content;
          min-width: 232px;

          &::-webkit-input-placeholder {
            color: $grey;
          }

          &:focus {
            outline: 3px solid $theme;
            color: $body-content;
          }
        }

        textarea {
          background-color: $almost-black;
          border: 0;
          padding: 16px 20px;
          border-radius: 10px;
          color: $body-content;
          min-width: 232px;
          font-family: "Inter", sans-serif;
          resize: none;
          max-height: 80px;
          overflow-y: auto;

          &::placeholder {
            color: $grey;
          }

          &:focus {
            outline: 3px solid $theme;
            color: $body-content;
          }
        }
      }

      .btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
          height: 40px;
          padding: 0 20px;
          background-color: $theme;
          border: none;
          border-radius: 10px;
          font-family: $heading-font;
          font-size: 16px;
          color: $almost-black;
          cursor: pointer;

          &:disabled {
            background-color: #50545d;
            cursor: default;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1150px) {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;

    .left-column {
      .contact-methods {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    padding: 60px 20px 60px 20px;
    display: flex;
    flex-direction: column;

    .left-column {
      .title {
        display: flex;
        justify-content: center;
      }

      .sub-text {
        text-align: center;
      }

      .contact-methods {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .right-column {
      margin-top: 50px;

      form {
        grid-template-rows: auto;
        .top-inputs {
          grid-template-columns: none;
          grid-template-rows: auto;
          column-gap: 0;
          row-gap: 36px;
        }
      }
    }
  }
}
