.content-container {
  max-width: 100%;
  overflow: hidden;

  .header-row {
    @include layout(0, 0 0 100px 120px);
    min-height: 60vh;
    display: flex;
    align-items: center;

    .title-container {
      @include columns(3fr 1fr, 200px);
      display: flex;
      align-items: center;

      .title {
        height: min-content;

        p {
          font-family: $heading-font;
          font-size: 22px;
          color: $body-content;
        }

        h1 {
          font-family: $heading-font;
          font-weight: $heaviest;
          font-size: 48px;
          color: $white;
        }
      }

      .blue-diamonds {
        .small-diamond {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 100px;
          right: 150px;

          .layer-4 {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 282.84px;
            height: 282.84px;
            background: rgba(47, 101, 236, 0.25);
            border-radius: 49.1046px;
            transform: rotate(-45deg);

            .layer-3 {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 226.27px;
              height: 226.27px;
              background: rgba(47, 101, 236, 0.5);
              border-radius: 39.2837px;

              .layer-2 {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 169.71px;
                height: 169.71px;
                background: rgba(47, 101, 236, 0.75);
                border-radius: 29.4628px;

                .layer-1 {
                  width: 113.14px;
                  height: 113.14px;
                  background: #2f65ec;
                  border-radius: 19.6419px;
                }
              }
            }
          }
        }

        .large-diamond {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          right: -190px;

          .layer-4 {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 360px;
            height: 360px;
            background: rgba(47, 101, 236, 0.25);
            border-radius: 62.5px;
            transform: rotate(-45deg);

            .layer-3 {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 288px;
              height: 288px;
              background: rgba(47, 101, 236, 0.5);
              border-radius: 50px;

              .layer-2 {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 216px;
                height: 216px;
                background: rgba(47, 101, 236, 0.75);
                border-radius: 37.5px;

                .layer-1 {
                  width: 144px;
                  height: 144px;
                  background: #2f65ec;
                  border-radius: 25px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sections-grid {
    @include layout(0, 0 120px 100px 120px);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, min-content);
    column-gap: 10%;

    .section {
      width: 100%;
      height: min-content;
      display: grid;
      grid-template-rows: auto;
      row-gap: 45px;
      margin-top: -30%;

      .paragraph-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      h2 {
        font-weight: $heavy-weight;
        font-size: 16px;
        color: $white;
        margin: 0;
      }

      p {
        font-size: 14px;
        color: $body-content;
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
      }

      &:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;
        margin-top: 0;
      }

      &:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 2;
      }

      &:nth-child(3) {
        grid-row-start: 3;
        grid-column-start: 1;
      }

      &:nth-child(4) {
        grid-row-start: 4;
        grid-column-start: 2;
      }

      &:nth-child(5) {
        grid-row-start: 5;
        grid-column-start: 1;

        .scroll-arrow {
          display: none;
          // display: flex;
          // align-items: center;
          // justify-content: flex-end;
          // width: 100%;
          // margin-bottom: -40px;

          // p {
          //   color: $grey;
          //   font-size: 20px;
          //   margin-right: 20px;
          //   font-family: $heading-font;
          // }

          // svg {
          //   justify-self: end;

          //   path {
          //     fill: $theme;
          //   }
          // }
        }

        .scrollable-rows {
          display: grid;
          grid-template-rows: auto;
          row-gap: 20px;
          height: 400px;
          overflow-y: scroll;
          padding-right: 100px;

          &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $theme;
            border-radius: 6px;
          }

          &::-webkit-scrollbar-track {
            background-color: $almost-black;
            border-radius: 6px;
          }

          div {
            background-color: $almost-black;
            padding: 30px 30px;
            border-radius: 20px;
            min-height: 60px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
              font-size: 14px;
              font-weight: $heavy-weight;
              color: $white;
            }
          }
        }
      }

      &:nth-child(6) {
        grid-row-start: 6;
        grid-column-start: 2;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .header-row {
      height: fit-content;
      padding-bottom: 100px;
      padding: 0 120px 100px 120px;

      .title-container {
        grid-template-columns: none;
        grid-template-rows: auto;
        display: grid;

        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .blue-diamonds {
          display: none;
        }
      }
    }

    .sections-grid {
      display: flex;
      flex-direction: column;
      row-gap: 200px;
      margin-top: 100px;

      .section {
        margin-top: 0;

        img {
          width: 70%;
        }
      }
    }
  }

  @media screen and (max-width: 730px) {
    .sections-grid {
      .section {
        &:nth-child(5) {
          .scroll-arrow {
            display: initial;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: -40px;

            p {
              color: $grey;
              font-size: 20px;
              margin-right: 20px;
              font-family: $heading-font;
            }

            svg {
              justify-self: end;

              path {
                fill: $theme;
              }
            }
          }

          .scrollable-rows {
            grid-template-columns: repeat(6, min-content);
            grid-auto-flow: column;
            column-gap: 20px;
            overflow-x: scroll;
            overflow-y: auto;
            width: 100%;
            padding: 20px 0 20px 20px;
            height: min-content;

            div {
              min-height: auto;
              width: 300px;
              text-wrap: wrap;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    .header-row {
      padding: 60px 20px 60px 20px;
    }

    .sections-grid {
      padding: 0 20px 60px 20px;

      .section {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
        }

        &:nth-child(5) {
          .scrollable-rows {
            margin: 0 -20px;
          }
        }
      }
    }
  }
}
