.process-page {
  .header-row {
    position: relative;
    top: -62px;
    width: 100vw;
    height: 60vh;
    border-bottom: $dark-border;

    .title-container {
      background-image: url("../../assets/common/shortened-smoke.png");
      background-size: cover;
      height: 100%;
      display: flex;
      align-items: flex-end;

      .title {
        @include layout(0, 0 120px 100px 120px);

        h1 {
          @include title-header($height: 30px);
        }
      }
    }
  }

  .page-container {
    margin-top: 90px;
    padding: 0 120px 0 120px;

    h2 {
      font-size: 16px;
      color: $header-white;
      font-weight: $heavy-weight;
      font-family: $heading-font;
      margin: 0;
    }

    h3 {
      margin-top: 0;
      font-size: $large-content;
      font-weight: $light-weight;
      color: $header-grey;
      font-family: $heading-font;
    }

    p {
      font-size: $content;
      color: $body-content;
      font-weight: $light-weight;
      color: $header-white;
    }

    .content-row {
      @include columns(20% 60%, 20%);
      margin-bottom: 220px;
      height: 100%;

      img {
        width: 100%;
      }

      ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;

        li {
          font-size: $content;
          margin: 28px 0;
          @include rows(auto, 8px);

          h4 {
            font-size: 12px;
            color: $header-white;
            font-weight: $heavy-weight;
            margin: 0;
          }
        }
      }

      p {
        color: $body-content;
        font-weight: $light-weight;
        font-size: $content;
        margin: 0;
      }

      .test-items {
        @include columns(repeat(4, 1fr), 30px);

        .item-container {
          @include rows(auto 1fr, 12px);

          .header {
            border-bottom: $dark-border;

            .sub-heading {
              color: $header-white;
              font-size: $content;
              font-weight: $heavy-weight;
              margin-bottom: 12px;
            }
          }
        }
      }

      .row-container {
        @include rows(auto 1fr, 80px);
        height: 100%;

        .strategize-items {
          @include columns(1fr 1fr 1fr, 20px);

          h3 {
            margin-top: 12px;
          }
        }

        .design-items {
          ul {
            margin: 0;

            li {
              margin-top: 0;
              margin-bottom: 28px;
            }
          }
        }
      }

      .column-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .header-row {
      height: 40vh;

      .title-container {
        .title {
          @include layout(0, 0 60px 100px 60px);

          h1 {
            font-size: 32px;
          }
        }
      }
    }

    .page-container {
      padding: 0 60px 0 60px;

      .content-row {
        grid-template-columns: 20% 70%;
        column-gap: 10%;

        .column-container {
          gap: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 660px) {
    .header-row {
      .title-container {
        .title {
          @include layout(0, 0 60px 100px 60px);
        }
      }
    }

    .page-container {
      padding: 0 60px 0 60px;

      .content-row {
        grid-template-columns: none;
        column-gap: 0;
        grid-template-rows: 60px 1fr;

        .column-container {
          display: grid;
          grid-template-rows: auto;
        }

        .row-container {
          .strategize-items {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 40px;
          }
        }

        .test-items {
          grid-template-columns: none;
          grid-template-rows: auto;
          row-gap: 48px;
        }
      }
    }
  }

  @media screen and (max-width: 415px) {
    .header-row {
      .title-container {
        .title {
          @include layout(0, 0 20px 100px 20px);
        }
      }
    }

    .page-container {
      padding: 0 20px 0 20px;
    }
  }
}
