.case-container {
  position: relative;
  margin: 0px 35px 0 120px;
  padding-top: 80px;
  border-right: 1px solid $dark-grey;
  border-left: 1px solid $dark-grey;
  max-width: 100%;

  display: grid;
  grid-template-rows: auto;
  gap: 100px;
  padding-bottom: 100px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;

    h1 {
      font-size: 90px;
      margin: 0;
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 48%;

      a {
        text-decoration: none;

        button {
          display: flex;
          align-items: center;
          width: max-content;
          border-radius: 50px;
          background-color: transparent;
          border: 1px solid #ffffff;
          color: #ffffff;
          padding: 3px 18px;
        }
      }

      .icons {
        display: flex;
        gap: 4px;
      }
    }
  }

  .before-after {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid $dark-grey;

    .header {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 20px;

        h1 {
          font-weight: 300;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 20px;

        h1 {
          font-weight: 300;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }

    .indicator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      align-self: center;

      p {
        font-family: $accent-font;
        color: $dark-grey;
      }
    }

    .comparison {
      width: 80%;
      align-self: center;
    }
  }

  .row {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 60px;
    align-items: flex-start;

    .half-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $dark-grey;

      .info {
        display: flex;
        gap: 60px;

        p {
          margin: 0;
          font-family: $accent-font;
          color: $light-grey;
        }
      }

      h1 {
        font-size: 34px;
        font-weight: 300;
        margin: 0;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 60px;

      p {
        font-size: 16px;
        font-family: $light-accent-font;
        color: #c5c5c5;
        margin: 0;
      }
    }
  }

  .solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    .full-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $dark-grey;
      width: 100%;

      .info {
        display: flex;
        gap: 60px;

        p {
          margin: 0;
          font-family: $accent-font;
          color: $light-grey;
        }
      }

      h1 {
        font-size: 34px;
        font-weight: 300;
        margin: 0;
      }
    }

    .content {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 80px;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }

      .sub-section {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 60px;
        width: 100%;

        .header {
          border-top: 1px solid $dark-grey;

          p {
            font-family: $accent-font;
            color: #ffffff;
          }
        }

        .description {
          border-top: 1px solid $dark-grey;

          .large-text {
            font-size: 32px;
          }

          .flow-grid {
            display: grid;
            grid-template-rows: auto;
            gap: 40px;

            .flow-row {
              display: flex;
              flex-direction: column;

              .flow-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 40px;

                p {
                  font-family: $accent-font;
                  color: $light-grey;
                }
              }

              .list {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .item {
                  display: flex;
                  justify-content: space-between;
                  border-bottom: 1px solid $dark-grey;

                  p {
                    color: #ffffff;
                    font-family: $light-accent-font;
                    margin: 0;
                    padding-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 445px) {
    position: relative;
    margin: 0px 10px 0 60px;
    padding-top: 0px;
    border-right: 1px solid $dark-grey;
    border-left: 1px solid $dark-grey;
    max-width: 100%;

    .title {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;

      .links {
        height: fit-content;
        align-items: flex-start;
        gap: 30px;
      }

      h1 {
        font-size: 50px;
      }
    }

    .before-after {
      .indicator {
        display: none;
      }

      .header {
        .left {
          flex-direction: column;

          svg {
            display: none;
          }
        }

        .right {
          flex-direction: column-reverse;

          svg {
            display: none;
          }
        }
      }
    }

    .row {
      grid-template-rows: auto;
      grid-template-columns: none;

      .half-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;

        .info {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }

    .solution {
      .full-header {
        justify-content: center;

        .info {
          display: none;
        }
      }

      .content {
        .sub-section {
          grid-template-columns: none;
          grid-template-rows: auto;
          gap: 20px;
        }
      }
    }
  }
}
