.page-content {
  @include layout(90px, 0 200px 45px 200px);
  @include autoRows(min-content, 250px);

  h3 {
    color: $teal;
    font-family: $heading-font;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  &.rpre {
    h3 {
      color: $yellow;
    }
  }

  .title-container {
    @include columns(35% auto, 80px);
    align-items: center;

    .title {
      div {
        p {
          color: $body-content;
          font-family: $heading-font;
          font-size: 20px;
          font-weight: 400;
        }
      }

      h1 {
        @include title-header;
        font-weight: 800;
      }
    }

    .image-wrapper {
      img {
        width: 100%;
      }
    }
  }

  .content-section {
    @include columns(35% auto, 80px);

    h4 {
      color: $header-white;
      font-size: $content;
      font-weight: $heavy-weight;
      font-family: Inter;
    }

    .header-title {
      h2 {
        color: $header-white;
        font-family: $heading-font;
        font-weight: $heavy-weight;
        font-size: 32px;
        margin-top: 16px;
        margin-bottom: 0;
      }

      .sub-title {
        color: $dark-grey;
        font-family: $heading-font;
        font-weight: $heavy-weight;
        font-size: 32px;
        margin: 0;
      }
    }

    .content-wrapper {
      padding-top: 41px;
      @include autoRows(min-content, 48px);

      p {
        font-size: $content;
        color: $body-content;
        margin: 0;
        font-weight: 400;
      }

      .paragraph-container {
        @include autoRows(auto, 12px);
      }

      .unstyled-list {
        font-size: $content;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .styled-list {
        font-size: $content;
        padding: 10px;
        @include autoRows(min-content, 16px);

        li {
          &::marker {
            color: #2a2a2a;
          }
        }
      }

      .tools {
        display: flex;
        gap: 30px;

        img {
          width: 70px;
          height: auto;
        }
      }

      .deliverables-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;

        div {
          height: 55px;
          width: 145px;
          background-color: $light-black;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 10px;

          p {
            width: 80%;
          }
        }
      }

      .img-wrapper {
        img {
          width: 100%;
        }
      }

      .interview-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px;

        .card {
          background-color: $light-black;
          border-radius: 10px;
          width: 306px;
          height: 162px;
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            width: 80%;
          }
        }
      }

      .list-container {
        @include autoRows(auto, 48px);
      }

      .wireframes {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        img {
          width: 30%;
        }
      }

      .prototype-link-wrapper {
        color: transparent;

        .link-contents {
          position: relative;
          padding: 20px;
          border-radius: 10px;
          transition: all 0.4s ease-in-out;

          &:hover {
            p {
              opacity: 0.6;
            }

            img {
              filter: blur(3px);
              opacity: 0.6;
            }
          }

          img {
            width: 100%;
            height: auto;
            transition: all 0.4s ease-in-out;
          }

          p {
            transition: all 0.4s ease-in-out;
            color: $header-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            font-size: $large-content;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1290px) {
    padding: 0 100px 45px 100px;
  }

  @media screen and (max-width: 1150px) {
    .content-section {
      .content-wrapper {
        .deliverables-grid {
          grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
          grid-template-rows: none;
        }

        .interview-cards {
          grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
          grid-template-rows: none;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .title-container {
      grid-template-columns: none;
      grid-template-rows: auto;
      row-gap: 20px;
      place-items: center;
      text-align: center;

      .title {
        h1 {
          font-size: 32px;
        }

        div {
          p {
            font-size: 16px;
          }
        }
      }
    }

    .content-section {
      grid-template-columns: none;
      grid-template-rows: auto;
      row-gap: 20px;

      .header-title {
        .sub-title {
          font-size: 20px;
        }

        h2 {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    padding: 0 20px 45px 20px;
    row-gap: 100px;

    .content-section {
      .content-wrapper {
        .prototype-link-wrapper {
          .link-contents {
            display: flex;
            justify-content: center;
            text-align: center;

            img {
              filter: blur(3px);
              opacity: 0.6;
            }

            p {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
