.page-content {
  margin-top: 90px;
  padding: 0 120px 0 120px;

  h2 {
    font-weight: $heavy-weight;
    font-size: $large-content;
    color: $header-white;
    margin: 10px 0;
  }

  h3 {
    font-size: $content;
    font-weight: $heavy-weight;
    color: $header-white;
  }

  p {
    font-size: $content;
    margin: 10px 0 20px 0;
  }

  button {
    @include button-style;
  }

  .grey-header {
    padding: 20px 0;

    h2 {
      color: $header-grey;
      font-weight: $light-weight;
      font-size: $large-content;
    }
  }

  .header-row {
    h1 {
      font-size: 28px;
      color: $header-grey;
      font-weight: $light-weight;
    }
  }

  .title-container {
    border-left: $thin-border;
    padding: 30px 0 30px 68px;

    h1 {
      @include title-header;
      color: $header-white;
    }
  }

  .overview-container {
    @include container-layout;

    .content-section {
      @include columns(0.3fr 1fr, 130px);
    }
  }

  .information-container {
    @include container-layout;

    .content-section {
      @include columns(0.3fr 1fr, 130px);

      .content {
        @include rows(auto, 32px);
      }
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;

      li {
        font-size: $content;
        margin-top: 6px;
      }
    }
  }

  .process-container {
    @include container-layout;

    .content-section {
      @include columns(0.3fr 1fr, 130px);

      .content {
        @include rows(auto, 32px);

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .research-container {
    @include container-layout;

    .content-section {
      @include columns(0.3fr 1fr, 130px);

      .content {
        @include rows(auto, 32px);

        .scaled-down-img {
          max-width: 80%;
          max-height: 80%;
        }

        .unstyled-list {
          list-style-type: none;
          margin-left: 0;
          padding-left: 0;

          li {
            font-size: $content;
            margin-top: 6px;
          }
        }

        ul {
          list-style-type: disc;
          margin-left: 10px;
          padding-left: 0;

          li {
            font-size: $content;
            margin-top: 6px;
          }
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .design-container {
    @include container-layout;

    .content-section {
      @include columns(0.3fr 1fr, 130px);

      .content {
        @include rows(auto, 32px);

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .thoughts-container {
    @include container-layout;

    .content-section {
      @include columns(0.3fr 1fr, 130px);

      .content {
        @include rows(auto, 32px);
      }
    }
  }
}
