.huddleup-container {
  background-image: url("../../assets/background-images/background-long.png");

  .content-container {
    margin: $outer-margin;

    h4 {
      font-family: $decorative-font;
      font-size: $small-header;
      padding-top: 50px;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 16px;
      margin: 0 0 2px 0;
    }

    h6 {
      @include header-style($small-header, 30px 0 30px 0);
    }

    p {
      font-size: 14px;
      margin: 0;
    }

    li {
      font-size: 14px;
    }

    .no-style {
      @include no-style-list;
    }

    .content {
      border-left: 3px solid $dark-border;
      padding-left: 45px;
      height: 100%;
    }

    .title {
      h2 {
        color: $header-gray;
        font-weight: $main-weight;
      }

      h1 {
        font-family: $decorative-font;
        font-size: $large-font;
      }
    }

    .project-information {
      .content {
        display: grid;
        grid-template-rows: auto;
        row-gap: 40px;

        .sub-information {
          display: grid;
          grid-template-rows: auto;
          row-gap: 20px;
        }
      }
    }

    .design-process {
      .content {
        display: grid;
        grid-template-rows: auto;

        button {
          border: 2px solid $border-color;
          background-color: transparent;
          border-radius: 10px;
          height: 40px;
          width: 110px;
          color: $body-color;
        }

        img {
          justify-self: center;
          width: 70%;
          margin: 5% 0;
        }
      }
    }

    .research {
      ul {
        padding-left: 14px;
        margin: 0;
      }

      h5 {
        margin-top: 30px;
      }

      .demographics-content {
        .demographics-paragraphs {
          display: grid;
          grid-template-rows: auto;
          row-gap: 15px;
        }
      }

      .competitive-research {
        display: grid;
        grid-template-rows: auto;

        img {
          margin: 5% 0;
          justify-self: center;
          width: 60%;
        }
      }

      .primary-research {
        li {
          padding-bottom: 4px;
        }

        .user-interviews-section {
          p {
            margin-bottom: 8px;
          }
        }
      }

      .user-persona {
        display: grid;
        grid-template-rows: auto;

        img {
          margin: 5% 0;
          justify-self: center;
          width: 60%;
        }
      }

      .strategy {
        display: grid;
        grid-template-rows: auto;

        img {
          margin: 5% 0;
          justify-self: center;
          width: 60%;
        }

        .strategy-p {
          display: grid;
          grid-template-rows: auto;
          row-gap: 15px;
        }
      }

      .prioritized-roadmap {
        ul {
          padding-left: 0;
        }

        li {
          padding-bottom: 2px;
        }
      }

      .product-roadmap {
        display: grid;
        grid-template-rows: auto;

        img {
          margin: 5% 0;
          justify-self: center;
          width: 60%;
        }
      }
    }

    .design {
      .u-t-flow {
        display: grid;
        grid-template-rows: auto;

        img {
          margin: 5% 0;
          justify-self: center;
          width: 60%;
        }
      }

      .wireframes {
        display: grid;
        grid-template-rows: auto;

        img {
          margin: 5% 0;
          justify-self: center;
          width: 60%;
        }
      }
    }

    .final-thoughts {
      .content {
        padding-top: 50px;

        p {
          margin-bottom: 8px;
        }
      }
    }
  }
}
