.landing-container {
  max-width: 100%;

  .header-row {
    position: relative;
    top: -62px;
    width: 100%;
    height: 80vh;
    border-bottom: $dark-border;

    .title-container {
      background-image: url("../../assets/landing/gray-cropped.png");
      background-size: cover;
      height: 100%;
      @include rows(1fr 0.5fr);
      align-items: end;
      overflow: hidden;

      .title {
        @include layout(0, 0 120px 20px 120px);

        h1 {
          @include title-header(30px);
          color: $header-white;
        }

        h2 {
          @include title-header;
          color: #959595;
        }
      }

      p {
        @include layout(0, 20px);
        justify-self: end;
        margin: 0;
        font-size: 10px;
        color: $header-grey;
      }
    }
  }

  .landing-content {
    @include columns(1fr auto);
    align-items: center;
    margin-top: -52px;

    .left-lines {
      img {
        width: 10px;
      }
    }

    .landing-rows {
      @include autoRows(min-content, 250px);
      padding: 0 0 0 90px;

      .intro-row {
        @include columns(0.8fr 1fr);
        align-items: center;

        .column-left {
          @include autoRows(min-content, 30px);

          .info {
            @include columns(40px auto);
            align-items: center;

            .rotated-div {
              display: flex;
              justify-content: center;
              width: fit-content;
              height: fit-content;

              h3 {
                font-size: 10px;
                color: $header-grey;
                font-weight: $light-weight;
                position: relative;
                writing-mode: vertical-lr;
                transform: rotate(-180deg);
                margin: 0;
              }
            }

            .qr-code {
              height: 125px;
              width: 125px;
              background-color: gray;
            }

            p {
              font-size: $content;
              color: $body-content;
            }
          }
        }

        .link-wrapper {
          justify-self: center;
          color: transparent;

          .image-container {
            width: 367px;
            height: 256px;
            overflow: hidden;
            position: relative;
            padding: 20px;
            border-radius: 10px;
            transition: all 0.4s ease-in-out;

            &:hover {
              p {
                opacity: 0.6;
              }

              img {
                filter: blur(3px);
                opacity: 0.6;
              }
            }

            img {
              width: 100%;
              transition: all 0.4s ease-in-out;
            }

            p {
              margin-top: 0;
              transition: all 0.4s ease-in-out;
              color: #ffffff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              font-weight: 400;
            }
          }
        }
      }

      .case-row {
        @include columns(0.8fr 1fr);
        align-items: center;
        justify-content: center;

        .case-desc {
          @include columns(40px auto);
          align-items: center;

          .rotated-div {
            height: fit-content;
            display: flex;
            justify-content: center;
            width: fit-content;

            h3 {
              font-size: 10px;
              color: $header-grey;
              position: relative;
              writing-mode: vertical-lr;
              transform: rotate(-180deg);
              margin: 0;
              font-weight: $light-weight;
            }
          }

          .case-content {
            h4 {
              font-family: $heading-font;
              font-weight: $heavy-weight;
              color: $header-white;
            }

            p {
              font-size: $content;
              color: $body-content;
            }
          }
        }

        .link-wrapper {
          justify-self: center;
          color: transparent;

          .image-container {
            width: 367px;
            height: auto;
            position: relative;
            padding: 20px;
            border-radius: 10px;
            transition: all 0.4s ease-in-out;

            &:hover {
              p {
                opacity: 0.6;
              }

              img {
                filter: blur(3px);
                opacity: 0.6;
              }
            }

            img {
              width: 100%;
              transition: all 0.4s ease-in-out;
            }

            p {
              transition: all 0.4s ease-in-out;
              color: $header-white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .header-row {
      width: 100%;
      height: 60vh;
      border-bottom: $dark-border;

      .title-container {
        p {
          padding: 20px 60px 20px 20px;
        }

        .title {
          @include layout(0, 0 60px 20px 60px);

          h1 {
            font-size: 32px;
          }

          h2 {
            font-size: 32px;
          }
        }
      }
    }

    .landing-content {
      .left-lines {
        img {
          width: 10px;
        }
      }

      .landing-rows {
        padding: 0 60px 0 50px;
        row-gap: 250px;

        .intro-row {
          grid-template-columns: none;
          @include rows(1fr min-content, 30px);

          .column-left {
            grid-template-rows: 1fr min-content;
            grid-template-columns: none;
            justify-content: center;

            .info {
              grid-template-columns: none;
              grid-auto-rows: auto;

              .rotated-div {
                h3 {
                  writing-mode: horizontal-tb;
                  transform: rotate(0deg);
                }
              }

              p {
                margin-bottom: 0;
              }

              .qr-code {
                margin-top: 12px;
              }
            }
          }

          .link-wrapper {
            justify-self: start;

            .image-container {
              width: 317px;
              height: 206px;
              padding: 0px;
              border-radius: 0px;
            }
          }
        }

        .case-row {
          grid-template-rows: 1fr min-content;
          grid-template-columns: none;
          justify-content: start;

          .case-desc {
            grid-template-columns: none;
            grid-auto-rows: auto;

            .rotated-div {
              h3 {
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
              }
            }

            .case-content {
              h4 {
                margin: 8px 0;
              }
            }
          }

          .link-wrapper {
            justify-self: start;

            .image-container {
              width: 317px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .header-row {
      width: 100%;

      .title-container {
        p {
          padding: 20px;
        }

        .title {
          @include layout(0, 0 20px 20px 20px);
        }
      }
    }

    .landing-content {
      .landing-rows {
        padding: 0 20px 0 10px;

        .intro-row {
          row-gap: 48px;

          .link-wrapper {
            justify-self: center;
          }
        }

        .case-row {
          row-gap: 48px;

          .link-wrapper {
            justify-self: center;
          }
        }
      }
    }
  }
}
