.landing-page {
  margin: $outer-margin;

  .main-section {
    height: 500px;
    display: flex;
    justify-content: space-between;

    .title-content {
      width: 430px;
      align-self: center;

      h1 {
        font-weight: $main-weight;

        span {
          font-family: $decorative-font;
        }
      }
    }

    .top-shapes {
      z-index: -1;
      margin-right: -300px;
      margin-top: 100px;
    }
  }

  .icon-strip {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: start;

    p {
      font-size: $small-font;
    }

    .arrow-down {
      height: 25px;
    }

    .icons-right {
      justify-self: end;
      display: flex;
      justify-content: space-between;
      width: 90px;

      .github {
        height: 23.61px;
        width: 24.22px;
      }

      .linkedin {
        width: 21.88px;
        height: 21.87px;
      }

      .pdf {
        height: 21px;
      }
    }
  }

  .landing-content {
    .introduction {
      h1 {
        font-weight: $main-weight;
        color: $header-gray;
        font-size: $large-header;
      }

      .introduction-container {
        margin-top: 120px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;

        img {
          // z-index: 1;
          object-fit: cover;
          width: 550px;
          height: 350px;
          border-radius: 20px;
        }

        .introduction-content {
          width: 590px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h6 {
            font-weight: $main-weight;
            font-size: $small-header;
            color: $header-gray;
            margin: 0;
          }

          p {
            font-weight: $main-weight;
            font-size: $body-text;
          }

          button {
            width: 130px;
            height: 60px;
            border-radius: 20px;
            background-color: transparent;
            border: 2px solid #dddddd;
            color: $body-color;
            font-size: $small-header;
          }

          .read-more-btn {
            margin-right: 30px;
          }
        }
      }

      .arrow-down-container {
        width: 100%;

        .middle-shapes {
          z-index: -1;
          position: relative;
          margin-left: -526px;
          margin-top: -400px;
        }

        .arrow-down-transition {
          display: flex;
          justify-content: center;

          .arrow-down {
            height: 25px;
          }
        }
      }
    }
  }
}
