@font-face {
  font-family: "PP Supply Mono Regular";
  src: url("../assets/fonts/supplyMono/PPSupplyMono-Regular.otf");
}
@font-face {
  font-family: "PP Supply Mono Light";
  src: url("../assets/fonts/supplyMono/PPSupplyMono-Ultralight.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "variables.scss";
@import "mixins.scss";
@import "./layouts/navbar.scss";
@import "./pages/landing.scss";
@import "./pages/contact.scss";
@import "./components/case-study.scss";
@import "./components/case-card.scss";

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  background-color: $page-background;
  color: #ffffff;
}
