@import "variables.scss";
@import "mixins.scss";
@import "./layouts/navbar.scss";
@import "./pages/landing.scss";
@import "./pages/design-process.scss";
@import "./pages/huddleup.scss";
@import "./pages/contact.scss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: $dark-grey;
  color: $body-content;
}
