@mixin title-header($height: normal) {
  line-height: $height;
  font-family: $heading-font;
  margin: 0;
  font-size: 48px;
  color: $header-white;
}

@mixin button-style {
  background: none;
  border: $thick-border;
  color: $body-content;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 30px;
}

@mixin columns($template, $gap) {
  display: grid;
  grid-template-columns: $template;
  column-gap: $gap;
}

@mixin rows($template, $gap) {
  display: grid;
  grid-template-rows: $template;
  row-gap: $gap;
}

@mixin layout($top-margin, $padding, $border: none) {
  margin-top: $top-margin;
  padding: $padding;
  border-bottom: $border;
}

// huddleup specific
@mixin container-layout {
  border-left: $thin-border;
  padding: 30px 0 30px 68px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 120px;
}
