@mixin title-header($height: normal) {
  line-height: $height;
  font-family: $heading-font;
  color: $header-white;
  font-size: 48px;
  margin: 0;
}

@mixin button-style {
  background: none;
  border: $thin-border;
  color: $body-content;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 30px;
}

@mixin columns($template, $gap: 0px) {
  display: grid;
  grid-template-columns: $template;
  column-gap: $gap;
}

@mixin rows($template, $gap: 0px) {
  display: grid;
  grid-template-rows: $template;
  row-gap: $gap;
}

@mixin autoRows($template, $gap: 0px) {
  display: grid;
  grid-auto-rows: $template;
  row-gap: $gap;
}

@mixin layout($top-margin, $padding, $border: none) {
  margin-top: $top-margin;
  padding: $padding;
  border-bottom: $border;
}
