$darkest-grey: #1d1d1e;
$dark-grey: #222123;
$shadow-grey: #373737;
$header-grey: #7e7e7e;
$body-content: #bbbbbb;
$header-white: #e0e0e0;
$title: 48px;
$header: 16px;
$large-content: 14px;
$content: 12px;
$small-header: 10px;
$heading-font: "Outfit", sans-serif;
$light-weight: 400;
$thin-border: 0.5px solid $header-white;
$thick-border: 1px solid $header-white;
