$small-font: 12px;
$large-header: 32px;
$very-large-header: 40px;
$small-header: 18px;
$large-font: 28px;
$body-text: 20px;
$body-color: #e0e0e0;
$decorative-font: "Bungee";
$main-weight: 400;
$outer-margin: 0 100px;
$darkest-gray: #222123;
$header-gray: #7e7e7e;
$border-color: #dddddd;
$dark-border: #414141;
$white-border: 2px solid #dddddd;
