$purple: #9d3cff;
$teal: #05ae85;
$yellow: #f1d410;
$theme: #2f65ec;
$red: #bb2d3e;
$pink-red: #e10743;
$white: #ffffff;
$header-grey: #7e7e7e;
$grey: #4e4e4e;
$dark-grey: #313131;
$light-black: #0d0d0d;
$almost-black: #171717;
$body-content: #bbbbbb;
$header-white: #e0e0e0;
$large-content: 14px;
$content: 12px;
$heading-font: "Outfit", sans-serif;
$light-weight: 400;
$heavy-weight: 700;
$heaviest: 900;
$thin-border: 0.5px solid $header-white;
$dark-border: 0.1px solid #323232;
$page-background: #000000;
