.navbar {
  $nav-height: 62px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $nav-height;
  padding: 0 120px;
  font-size: $content;
  color: $header-white;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }

  h6 {
    margin: 0;
    padding: 0;
    font-size: $content;
    font-weight: 400;
    text-transform: uppercase;
  }

  svg {
    display: none;
  }

  .navlinks-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    .navlink {
      .main-link {
        padding: 10px 20px;
        text-decoration: none;
        color: $body-content;
        transition: 0.4s ease-in-out all;
        border-radius: 10px;

        &:hover {
          background: rgba(255, 255, 255, 0.4);
          color: #000000;
        }
      }

      .dropdown-btn {
        padding: 10px 20px;
        text-decoration: none;
        color: #000000;
        font-size: $content;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.4);
        border: none;

        &.clicked {
          border-radius: 10px 10px 0 0;
        }

        &:hover {
          cursor: pointer;
        }
      }

      svg {
        margin-left: 5px;

        path {
          stroke: currentColor;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 0 60px;

    .navlinks-wrapper {
      display: none;
      position: fixed;
      top: $nav-height;
      max-width: 50vw;
      width: 200px;
      bottom: 0;
      right: 0;
      height: calc(100vh - #{$nav-height});

      &.open {
        display: initial;
        display: grid;
        grid-auto-rows: min-content;
        row-gap: 0px;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        .navlink {
          width: 200px;
          display: flex;

          .contents-header {
            border-bottom: $dark-border;
            width: 100%;
            padding: 10px 20px;
            color: $body-content;
          }

          .main-link {
            width: 100%;
            transition: none;
            border-radius: 0;

            &:hover {
              background: none;
              color: none;
            }
          }
        }
      }
    }

    svg {
      display: initial;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 415px) {
    padding: 0 20px;
  }
}
