.navbar {
  display: grid;
  grid-template-columns: 50% 40%;
  column-gap: 10%;

  .nav-left {
    display: flex;
    gap: 50px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: min-content;
      padding: 0 5px 0 10px;
      border-radius: 50px;
      overflow: hidden;
      color: $content;

      transform: perspective(1px) translateZ(0);
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: $content;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 0.3s ease-out;
      }

      &:hover {
        color: #000000;

        a,
        svg path {
          color: #000000;
          stroke: #000000;
        }

        &:before {
          transform: scaleX(1);
        }
      }

      a {
        text-decoration: none;
        color: $content;
        font-size: 14px;
        font-family: "PP Supply Mono Light", sans-serif;
      }

      svg {
        path {
          stroke: $content;
        }
      }
    }
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .bio {
      font-size: 14px;
      font-family: "PP Supply Mono Regular", sans-serif;
      display: grid;
      grid-template-rows: auto;
      row-gap: 12px;

      p {
        margin: 0;
        color: #d9d9d9ad;
      }
    }

    .btn-container {
      button {
        font-size: 10px;
        border-radius: 50px;
        padding: 10px 20px;
        width: max-content;
        border: none;
        background-color: #d9d9d9;
      }
    }
  }

  @media screen and (max-width: 800px) {
  }

  @media screen and (max-width: 415px) {
  }
}
