.navbar {
  display: grid;
  grid-template-columns: 46% 46%;
  column-gap: 8%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
  padding-left: 120px;
  padding-right: 37px;
  background-color: $page-background;
  border-bottom: 1px solid $dark-grey;

  #progress {
    position: fixed;
    top: 10px;
    left: 30px;
    transform: rotate(-90deg);
    width: 60px;
    height: 60px;

    circle {
      stroke-dashoffset: 0;
      stroke-width: 15%;
      fill: none;
    }

    .bg {
      stroke: $content;
      opacity: 0.3;
    }

    .indicator {
      stroke: $content;
    }
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 100%;
    margin-right: -2px;

    .btn-container {
      a {
        text-decoration: none;

        button {
          font-size: 10px;
          border-radius: 50px;
          padding: 10px 20px;
          height: 30px;
          width: max-content;
          border: none;
          background-color: $content;
          color: $page-background;
          display: flex;
          align-items: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    height: 100%;
    justify-self: end;

    .links-container {
      display: flex;
      gap: 10px;
      height: min-content;

      a {
        text-decoration: none;
        color: $content;
        font-size: 14px;
        font-family: "PP Supply Mono Light", sans-serif;
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 0 5px 0 10px;
        border-radius: 50px;
        overflow: hidden;
        color: $content;
        transform: perspective(1px) translateZ(0);
        transition: color 0.3s;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          background: $content;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition: transform 0.3s ease-out;
        }

        &:hover {
          color: #000000;

          a,
          svg path {
            color: #000000;
            stroke: #000000;
          }

          &:before {
            transform: scaleX(1);
          }
        }

        svg {
          width: auto;
          height: 26px;

          path {
            stroke: $content;
          }
        }
      }
    }
  }

  @media screen and (max-width: 445px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    border-right: 1px solid $dark-grey;
    margin-right: 10px;
    height: 100px;
    padding-right: 0;

    #progress {
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
    }

    .nav-left {
      border-right: none;
      padding-top: 15px;
      height: min-content;
    }

    .nav-right {
      border-right: none;
      border-bottom: 1px solid $dark-grey;

      .links-container {
        width: 100%;
        gap: 10px;
        display: flex;
        justify-content: space-between;

        .link {
          padding: 0;

          &:hover,
          &:focus,
          &:active {
            color: $content;

            a,
            svg path {
              color: $content;
              stroke: $content;
            }

            &:before {
              transform: scaleX(0);
            }
          }

          a {
            font-size: 14px;
            font-family: $accent-font;
          }

          svg {
            height: 20px;
          }
        }
      }
    }
  }
}
